body {
    margin: 0;
    padding: 0;
    background: black;
    color: #00eaff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

.sub {
    margin-top: -10px;
    font-size: 12px;
}

#timer {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

#status {
    margin-top: 60px;
    font-size: 42px;
    font-weight: bold;
}